# Local configuration
.env
.env.*
.secrets.baseline
.git/
.pre-commit-config.yaml

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Database
data/
*.db
*.sqlite

# Logs
*.log

# Tests / cache
tests/
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
